In [10]:
#Exploratory Data Analysis for Stock prices
#with focus on bank stocks and analysing theeir progress through financial cricis 2008 until 2016
#we gonna read data using yahoo api so we need to import datareader
from pandas_datareader import data, wb
import os
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
%matplotlib inline

In [15]:
#reading data for 6 different banks and storing in different dataframes
# Bank of America
# CitiGroup
# Goldman Sachs
# JPMorgan Chase
# Morgan Stanley
# Wells Fargo
start = datetime.date(2006,1,1)
end = datetime.date(2016,1,1)
BAC = data.DataReader("BAC",'econdb',start,end) 
C = data.DataReader('C', 'econdb', start, end)
GS = data.DataReader('GS', 'econdb', start, end)
JPM = data.DataReader('JPM', 'econdb', start, end)
MS = data.DataReader('MS', 'econdb', start, end)
WFC = data.DataReader('WFC', 'econdb', start, end)
WFC.head()

C:\Users\Arsene\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
C:\Users\Arsene\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,3 on the right)
  warnings.warn(msg, UserWarning)

Indicator,1 Cuenta corriente,Errores y omisiones netos,3 Cuenta financiera,Memorándum Cuenta financiera excluyendo activos de reserva,Activos,Pasivos,POSICIÓN DE INVERSIÓN INTERNACIONAL NETA,IRES,Imposte dirette_x,"Accisa sui prodotti energetici, loro derivati e prodotti analoghi",...,Lovech_y,Montana_y,Pazardzhik_y,Pernik_y,Pleven_y,Plovdiv,Razgrad_y,Ruse,Silistra_y,Sliven_y
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
2006-01-01,-669.3,25.57,-643.8,-859.5,NaN,NaN,NaN,114.0,18274.0,1385.0,...,147.6,133.6,127.8,123.2,104.2,109.0,129.3,123.2,113.6,108.4
2006-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,595.0,12488.0,1276.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,213.0,10333.0,2232.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-04-01,-707.4,92.74,-614.6,255.0,NaN,NaN,NaN,106.0,10675.0,1731.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,385.0,12593.0,1687.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#creating a list of tickers alphabetically
tickers = ['BAC','C','GS','JPM','MS','WFC']
#concat the dataframes into a single one based on the tickers
bank_stocks = pd.concat([BAC,C,GS,JPM,MS,WFC],keys=tickers,axis = 1)
bank_stocks.head()
#setting the column names
bank_stocks.columns.names =['Bank Ticker','Stock Info']
bank_stocks.head()

Bank Ticker                BAC                                                \
Stock Info  1 Cuenta corriente Errores y omisiones netos 3 Cuenta financiera
TIME_PERIOD
2006-01-01              -669.3                     25.57              -643.8
2006-02-01                 NaN                       NaN                 NaN
2006-03-01                 NaN                       NaN                 NaN
2006-04-01              -707.4                     92.74              -614.6
2006-05-01                 NaN                       NaN                 NaN

Bank Ticker                                                             \
Stock Info  Memorándum Cuenta financiera excluyendo activos de reserva
TIME_PERIOD
2006-01-01                                              -859.5
2006-02-01                                                 NaN
2006-03-01                                                 NaN
2006-04-01                                               255.0
2006-05-01                                                 NaN

Bank Ticker                                                                  \
Stock Info  Activos Pasivos POSICIÓN DE INVERSIÓN INTERNACIONAL NETA   IRES
TIME_PERIOD
2006-01-01      NaN     NaN                                      NaN  114.0
2006-02-01      NaN     NaN                                      NaN  595.0
2006-03-01      NaN     NaN                                      NaN  213.0
2006-04-01      NaN     NaN                                      NaN  106.0
2006-05-01      NaN     NaN                                      NaN  385.0

Bank Ticker                    \
Stock Info  Imposte dirette_x
TIME_PERIOD
2006-01-01            18274.0
2006-02-01            12488.0
2006-03-01            10333.0
2006-04-01            10675.0
2006-05-01            12593.0

Bank Ticker                                                                    \
Stock Info  Accisa sui prodotti energetici, loro derivati e prodotti analoghi
TIME_PERIOD
2006-01-01                                              1385.0
2006-02-01                                              1276.0
2006-03-01                                              2232.0
2006-04-01                                              1731.0
2006-05-01                                              1687.0

Bank Ticker  ...      WFC                                                   \
Stock Info   ... Lovech_y Montana_y Pazardzhik_y Pernik_y Pleven_y Plovdiv
TIME_PERIOD  ...
2006-01-01   ...    147.6     133.6        127.8    123.2    104.2   109.0
2006-02-01   ...      NaN       NaN          NaN      NaN      NaN     NaN
2006-03-01   ...      NaN       NaN          NaN      NaN      NaN     NaN
2006-04-01   ...      NaN       NaN          NaN      NaN      NaN     NaN
2006-05-01   ...      NaN       NaN          NaN      NaN      NaN     NaN

Bank Ticker
Stock Info  Razgrad_y   Ruse Silistra_y Sliven_y
TIME_PERIOD
2006-01-01      129.3  123.2      113.6    108.4
2006-02-01        NaN    NaN        NaN      NaN
2006-03-01        NaN    NaN        NaN      NaN
2006-04-01        NaN    NaN        NaN      NaN
2006-05-01        NaN    NaN        NaN      NaN

[5 rows x 3000 columns]

In [24]:
#retrieving max "close" price for each bank
bank_stocks.xs(key ='Close', level='Stock Info', axis=1).max()

KeyError: 'Close'

In [ ]:
#calculating the returns of each bank stock
#defining an empty dataframe called returns
returns = pd.DataFrame()
for x in tickers:
     returns[x + 'Return'] = bank_stocks[x]['Close'].pct_change()
        
returns.head()
returns.info